{% extends "base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %} 

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="container" id="contentPart-home">
        {% block main %}
            {% if groups is defined and groups is not empty %}
               <div style="overflow-x:auto;">
                    <table style="width:100%">
                     <tr>
                       <td>Group Name</td>
                       <td>Owner</td>
                       <td></td>
                     </tr>
                     {% for group in groups %}
                        <tr>
                            <td>{{ group.name|e }}</td>
                            <td>{{ group.owner|e }}</td>
                            <td>
                                <form action="/showgroup" method="POST">
                                    <input id="group_id" type="hidden" name="id" value="{{group.id}}">
                                    <button id="{{group.id}}" type="submit" ><img src="files/open.png" height="26px"/></button></td>
                              </form> 
                          </td>
                        </tr>
                        
                    {% endfor %}
                   </table> 
                </div>
            {% else %}
                <h5>You don't belong to a group yet, if you want to create one click <a id="a_title" href="/groups">here</a></h5>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
