{% extends "base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %} 

{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="js/api.js"></script>
    <script type="text/javascript" src="js/bet.js"></script>
{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="container" id="contentPart-home">
        {% block main %}
            <div class="description">
                <h5>European Championship France 2016</h5>
                <h4> {{ group.name }}</h4>
                <h6>Created by {{ owner }} | Nr of Groupmembers: {{ nbr }}</h6>
            </div>
            <div class="tabinfo">
                Add your tipps in the table below!
            </div>

            {#            <div class="row smoke">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="tab col s3" data-group-id="phase-1"><a>Gruppenspiel 1</a></li>
                                <li class="tab col s3" data-group-id="phase-2"><a>Gruppenspiel 2</a></li>
                                <li class="tab col s3" data-group-id="phase-3"><a>Gruppenspiel 3</a></li>
                                <li class="tab col s3" data-group-id="phase-4"><a>Achtelfinale</a></li>
                                <li class="tab col s3" data-group-id="phase-5"><a>Viertelfinale</a></li>
                                <li class="tab col s3" data-group-id="phase-6"><a>Halbfinale</a></li>
                                <li class="tab col s3" data-group-id="phase-7"><a>Endspiel</a></li>
                            </ul>
                        </div>#}
            <div class="table_outer">
                <table id="phase-1" class="group-matches active highlight">
                    <thead>
                        <tr>
                            <th data-field="date">Date</th>
                            <th data-field="homeTeamName"></th>
                            <th class="versus"></th>
                            <th data-field="awayTeamName"></th>
                            <th data-field="result"></th>
                            <th data-field="status">Status</th>
                            <th data-field="Bet">Bet</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for game in games %}
                            <tr class="match">
                                <td class="date">{{ game.date }}</td>
                                <td class="homeTeamName"> {{ game.name_1 }} </td>
                                <td class="versus"> : </td>
                                <td class="goalsAwayTeam">{{ game.name_2 }} <td>
                                <td class="results"><img src="{{ game.flag_1 }}" alt="team_flag" width="30"> ({{ game.result_team1 }}) : ({{ game.result_team2 }}) <img src="{{ game.flag_2 }}" alt="team_flag" width="30"></td>
                                <td><button id="{{ game.id }}" onClick="betting(this.id)">Add</button></td>
                            </tr>
                        {% endfor %}
                </table>
            </div>
                <div id="dialog-modal" title="Place Your Bet" style="display: none;">
                    <form action="" method="post">
                    <label id="team1">Team1:</label>
                    <input id="name" name="team1" type="number" min="0">
                    <label id="team2">Team2:</label>
                    <input id="email" name="team2" type="number" min="0">
                    <input id="submit" type="submit" value="Submit">
                    </form>
                </div>
            {#            <section id="result">
                            <button id="refresh">
                                <i class="fa fa-refresh"></i>
                            </button>
                            <table>
                                <!-- Hier fügt jQuery dynamisch Rows hinzu. -->
                            </table>
                        </section>#}

        {% endblock %}
    </div>
{% endblock %}