{% extends "base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %} 

{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="js/api.js"></script>
    <script type="text/javascript" src="js/bet.js"></script>
{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="container" id="contentPart-home">
        {% block main %}
            <div class="description">
                <h5>European Championship France 2016</h5>
                <h5> {{ group.name }}</h5>
                <h6>Created by {{ owner }} | Nr of Groupmembers: {{ nbr }}</h6>
            </div>
            <br>
            <div class="tabinfo">
                <h5>Add your tipps in the table below!</h5>
            </div>
            <div class="table_outer">
                <table id="phase-1" class="group-matches active highlight">
                    <thead>
                        <tr>
                            <th data-field="date">Date</th>
                            <th data-field="game">Game</th>
                            <th data-field="status">Status</th>
                            <th data-field="current">Bet</th>
                            <th data-field="bet">Add Bet</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for game in games %}
                            <tr class="match">
                                <td data-label="Date" class="date">{{ game.date }}</td>
                                <td data-label="Game" class="game"> {{ game.name_1 }}  &nbsp;&nbsp;:  &nbsp;&nbsp;{{ game.name_2 }}</td>
                                <td data-label="Status" class="results"><img src="{{ game.flag_1 }}" alt="team_flag" width="30"> ({{ game.result_team1 }}) : ({{ game.result_team2 }}) <img src="{{ game.flag_2 }}" alt="team_flag" width="30"></td>
                                <td data-label="Bet" class="current_bet"> {{ game.current_bet }} </td>
                                {% if game.closed %}
                                    <td data-label="Add Bet"><i>Closed</i></td>
                                {% else %}
                                    <td data-label="Add Bet"><button id="{{ game.id }}" onClick="betting(this.id, {{ group.id }})">Add</button></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                </table>
            </div> 
            </br>   
            <div class="table_outer">
                <div class="tabinfo">
                    <h5>Group Members</h5>
                </div>
                <table id="members" class="group-matches active highlight">
                    <thead>
                        <tr>
                            <th data-field="rank">Rank</th>
                            <th data-field="name">Username</th>
                            <th data-field="points">Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set rank = 1 %}
                       
                        {% for member in members %}
                            <tr class="match">
                                <td data-label="Rank" class="rank"> {{ rank }} </td>
                                <td data-label="Username" class="username">{{ member.username }}</td>
                                <td data-label="Points" class="points"> {{ member.points }} </td>
                            </tr>
                            {% set rank = rank + 1 %}
                        {% endfor %}
                </table>
            </div>     
            <div id="dialog-modal" title="Place Your Bet" style="display: none;">
                <form id ="dialog_form" action="/overview">
                    <label id="team1">Team1:</label>
                    <input id="result" name="team" type="number" min="0">
                    <label id="team2">Team2:</label>
                    <input id="result" name="team" type="number" min="0">
                    <input id="submitted" name="submitted" type="hidden" value={{ group.id }}>
                    <input id="submit" type="submit" value="Submit">
                </form>
            </div>
        {% endblock %}
    </div>
{% endblock %}